<div class="row">
    <div class="col-md-4">
        <li>
            <% @products.each do |product| %>
                <%= link_to(product.title, product_path(product))%>
            <% end %>
        </li>
    </div>
</div>
